{% extends 'base.html.twig' %}
{% block title %}
    Entités
{% endblock %}
{% block content %}
    <p class="link"><a class="btn btn-primary" href="{{ path_for('formCreerEntite') }}"><i class="fas fa-plus"></i>  Ajouter une entité</a></p>

    <section>
        <h3 class="global-title">Personnages</h3>
        <div id="deck-personnages" class="card-row">
            {% for entite in personnages %}
                {% include 'cardEditable.html.twig' %}
            {% endfor %}
        </div>
    </section>
    <section>
        <h3 class="global-title">Monstres</h3>
        <div id="deck-entites" class="card-row">
            {% for entite in monstres %}
                {% include 'cardEditable.html.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
