<div id="perdant" class="card">
    <div class="card-header">
        <h4>Statistiques</h4>
    </div>
    <div class="card-body">
        <p>Dégats infligés : {{perdant.degatInflige }}</p>
        <p>Dégats reçus : {{perdant.degatRecu }}</p>
        <p>Nombre de coups portés : {{perdant.nbAttaqueInflige }}</p>
        <p>Nombre de coups reçus : {{ perdant.nbAttaqueRecu }}</p>
    </div>
</div>
