{% extends 'base.html.twig' %}

{% block content %}
    <table>
        <tr>
            <th>login</th>
        </tr>
    {% for admin in admins %}
        <tr>
            <td>{{ admin.login }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

