{% extends 'base.html.twig' %}
{% block title %}
Admins
{% endblock %}
{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Login</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for admin in admins %}
        <tr>
            <td>{{ admin.login }}</td>
            {% if not admin.super %}
            <td> 
                <a class="btn btn-primary" href="{{ path_for('formModifAdmin', {id: admin.id}) }}"><i class="fas fa-edit"></i></a>
                <a class="btn btn-outline-danger" href="{{ path_for('execSupprAdmin', {id: admin.id}) }}"><i class="fas fa-trash-alt"></i></a>
            </td>
            {% else %}
            <td class="disabled"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="link"><a class="btn btn-primary" href="{{ path_for('formCreerAdmin') }}">Ajouter un admin</a></p>
{% endblock %}

