{% extends 'base.html.twig' %}
{% block title %}
    Admins
{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Login</th>
        </tr>
        </thead>
    {% for admin in admins %}
        <tbody>
        <tr>
            <td>{{ admin.login }}</td>
        </tr>
        </tbody>
    {% endfor %}
    </table>
{% endblock %}

