{% extends 'base.html.twig' %}
{% block title %}
    Entités
{% endblock %}
{% block content %}
    <h3>Peronnages</h3>
    <div id="deck-personnages" class="card-row">
        {% for entite in personnages %}
            {% include 'card.html.twig' %}
        {% endfor %}
    </div>
    <h3>Monstres</h3>
    <div id="deck-entites" class="card-row">
        {% for entite in monstres %}
            {% include 'card.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
