{% extends 'base.html.twig' %}
{% block title %}
    Entités
{% endblock %}
{% block content %}
    <section>
        <h3 class="global-title">Personnages</h3>
        <div id="deck-personnages" class="card-row">
            {% for entite in personnages %}
                {% include 'cardEditable.html.twig' %}
            {% endfor %}
        </div>
    </section>
    <section>
        <h3 class="global-title">Monstres</h3>
        <div id="deck-entites" class="card-row">
            {% for entite in monstres %}
                {% include 'cardEditable.html.twig' %}
            {% endfor %}
        </div>
    </section>
    <td> <a href ="{{ path_for('formCreerEntite') }}"><img src="/ressources/pencil.svg" alt="Creer"></a></td>
{% endblock %}
