<div class='formulaire'>
    <form action='/creation-personnage' method='POST'>
        <span>Nom: </span><input type='text' name ='nom' minlength='1' placeholder='Nom'  required><br>
        <span>Prénom: </span><input type='text' name = 'prenom'  minlength='1' placeholder='Prénom' required><br>
        <span>Type: </span><select name='type' minlength='1' placeholder='Type' required>
                                <option value="personnage">Personnage</option>
                                <option value="monstre">Monstre</option>
                           </select><br>
        <span>Taille: </span><input type='text' name = 'taille' minlength='1' placeholder='Taille' required><br>
        <span>Vie</span><input type='text' name = 'pointVie' minlength='1' placeholder='Vie' required><br>
        <span>Attaque</span><input type='text' name = 'pointAtt' minlength='1' placeholder='Attaque' required><br>
        <span>Defence</span><input type='text' name = 'pointDef' minlength='1' placeholder='Defence' required><br>
        <span>Agilité</span><input type='text' name = 'pointAgi' minlength='1' placeholder='Agilité' required><br>
        <input type='submit' value='Valider'>
    </form>
</div>