{% extends 'base.html.twig' %}

{% block content%}

<h2>Combat n°{{ combat.id }}</h2>

<p>{{ message }}</p>

<div class="battlefield">
    {% set participant = participant1 %}
    {% include 'cardCombat.html.twig' %}
    
    <div class="vs">
        <p>VS</p>
    </div>
    
    {% set participant = participant2 %}
    {% include 'cardCombat.html.twig' %}
</div>
<div>
    <div>
        <form action="{{path_for('jouerCombat', {id: combat.id})}}" method="post">
            {% if combat.termine %}
                <input style="width: 81%; margin-left: 9.5%;" class="btn btn-primary" type="submit" value="Voir le resultat">
            {% else %}
                <input style="width: 81%; margin-left: 9.5%;" class="btn btn-primary" type="submit" value="Jouer le prochain tour">                
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
