<div id="vainqueur" class="card">
    <div class="card-header">
        <h4>Statistiques</h4>
    </div>
    <div class="card-body">
        <p>Dégats reçus : {{ combat.perdants[0].degatRecu }}</p>
        <p>Dégats infligés : {{ combat.perdants[0].degatInflige }}</p>
        <p>Nombre de coups portés : {{ combat.perdants[0].nbAttaqueInflige }}</p>
        <p>Nombre de coups reçus : {{  combat.perdants[0].nbAttaqueRecu }}</p>
    </div>
</div>
