<div id="vainqueur" class="card">
    <div class="card-header">
        <h4>Statistique de fin de game</h4>
    </div>
    <div class="card-body">
        degat reçu : {{ personnages[1].degatRecu }}<br>
        degat infliger : {{ personnages[1].degatInflige }}<br>
        nbr coup porter : {{  personnages[1].nbAttaqueInflige }}<br>
        nbr coup recu : {{  personnages[1].nbAttaqueRecu }}<br>
    </div>
</div>
