<div id="vainqueur" class="card">
    <div class="card-header">
        <h4>Statistique de fin de game</h4>
    </div>
    <div class="card-body">
        degat reçu : {{ personnages[0].degatRecu }}<br>
        degat infliger : {{ personnages[0].degatInflige }}<br>
        nbr coup porter : {{  personnages[0].nbAttaqueInflige }}<br>
        nbr coup recu : {{  personnages[0].nbAttaqueRecu }}<br>
    </div>
</div>

