<div id="vainqueur" class="card">
    <div class="card-header">
        <h4>Statistique de fin de game</h4>
    </div>
    <div class="card-body">
        degat reçu : {{ combat.perdants[0].degatRecu }}<br>
        degat infliger : {{ combat.perdants[0].degatInflige }}<br>
        nbr coup porter : {{ combat.perdants[0].nbAttaqueInflige }}<br>
        nbr coup recu : {{  combat.perdants[0].nbAttaqueRecu }}<br>
    </div>
</div>
