<div id="vainqueur" class="card">
    <div class="card-header">
        <h4>Statistique de fin de game</h4>
    </div>
    <div class="card-body">
        degat reçu : {{ nbr_degat_infliger_personnage }}<br>
        degat infliger : {{ nbr_degat_infliger_monstre }}<br>
        nbr coup porter : {{ nbr_coup_porter_monstre }}<br>
        nbr tour : {{ nbr_tour }}
    </div>
</div>
