{% block alerts %}
{% if "error" is flashed %}
<div class='alert alert-danger alert-dismissible fade show mx-auto text-center my-3'>
    <i class='fa fa-exclamation-triangle'></i>
    <span class='px-2'>{{ get_message("error") }}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% elseif "success" is flashed %}
<div class='alert alert-success alert-dismissible fade show mx-auto text-center my-3'>
    <i class='fa fa-check'></i>
    <span class='px-2'>{{ get_message("success") }}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endblock %}