{% extends "base.html.twig" %}
{% block title %}
    {% if admin %}
        Modification {{ admin.login }}
    {% else %}
        Création d'un admin
    {% endif %}
{% endblock %}
{% block content %}
    {% if admin %}
        <h2>Modification {{ admin.login }}</h2>
    {% else %}
        <h2>Création d'un admin</h2>
    {% endif %}
    <form action="{% if admin %}/admin/modifier/{{ admin.id }}{% else %}/admin/creer{% endif %}" method='POST' enctype="multipart/form-data">
        <div class="form-group">
            <label for="iptLogin">Login<span>*</span></label>
            <input id="iptLogin" class="form-control form-control-sm" type='text' name ='login' minlength='1' required value="{{ admin.login }}">
        </div>
        <div class="form-group">
            <label for="iptMdp">Mot de passe<span>*</span></label>
            <input id="iptMdp" class="form-control form-control-sm"  type='password' name ='mdp' minlength='1' required>
        </div>
        <div class="form-group">
            <label for="selSuper">Type<span>*</span></label>
            <select id="selSuper" name='super' class="form-control form-control-sm"  required>
                {% if admin.super == true %}
                    <option value="0">Admin</option>
                    <option value="1" selected>Super Admin</option>
                {% else %}
                    <option value="0" selected>Admin</option>
                    <option value="1" >Super Admin</option>
                {% endif %}
            </select>
        </div>
        <div class="form-group" style="display: flex; justify-content: center">
            <input class="btn btn-primary" type='submit' value='Valider'>
        </div>

    </form>
{% endblock %}
