{%  extends 'base.html.twig' %}

{% block content %}

    <table>
        <thead>
        <tr>
            <th>Login</th>
            <th>Mdp</th>
            <th>status</th>
            <th>Opération</th>
        </tr>
        </thead>
        <tbody>
        {% for admin in admins if admin.super == 0%}
            <tr>
                <td>{{ admin.login }}</td>
                <td>{{ admin.mdp }}</td>
                <td>{{ admin.super }}</td>
                <td><button class="btn btn-primary">Modifier</button></td>
                <td><button class="btn btn-danger">Supprimer</button></td>

            </tr>

        {% endfor %}


        </tbody>
    </table>


{% endblock %}